@model IEnumerable<YourNamespace.Models.Feedback>

@{
    ViewBag.Title = "Feedback List";
}

<h2>Feedback List</h2>

<p>
    @Html.ActionLink("Create New Feedback", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Type</th>
            <th>Service</th>
            <th>Comments</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Age</td>
                <td>@item.FeedbackType</td>
                <td>@item.ServiceUsed</td>
                <td>@item.AdditionalComment</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>